@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit @Html.DisplayFor(model => model.Name)</h2>
@using (Html.BeginForm())
{
    <p>
    @Html.HiddenFor(model => model.MachineId)
    Name: 
    @Html.EditorFor(model => model.Name)</p>
    <p>Add engineer:
    @Html.DropDownList("EngineerId")</p>
    <input type="submit" value="Save" class="btn" />
}
<br>
<h3>Manage engineers</h3>
    @foreach(var join in Model.JoinEntities)
    {
      <dl>
      <dt>@join.Engineer.Name
      <dd>@using (Html.BeginForm("DeleteEngineer", "Machines"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Delete" class="btn"/>
      }</dd>
      </dl>
    }
<br>
<br>
<p>@Html.ActionLink("⚙️ Back to machines", "Index")</p>