@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Edit</h2>

<h4>@Html.DisplayFor(model => model.Name)</h4>
<br>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  <p>Name: @Html.EditorFor(model => model.Name)</p>

  <p>Machine: @Html.DropDownList("MachineId")</p>
<br>
  <input type="submit" value="Save" class="btn" />
}

<br>
<br>
<p>@Html.ActionLink("⚙️ Back to engineers", "Index")</p>
